/* This file is for your main application css. */
//$body-bg: #BBB; // With scss, Bootstrap lets us override colors and stuff.
@import "~bootstrap/scss/bootstrap";

.green {
    color:green;
}
.red {
    color:red;
}

.right-btn {
    float: right;
}