<span><%= link "Back", to: Routes.task_path(@conn, :index), class: "btn btn-primary"  %></span>
<div class="card mt-2">
  <h5 class="card-header">New Task</h5>
  <div class="card-body">
    <%= render "new_form.html", Map.put(assigns, :action, Routes.task_path(@conn, :create)) %>
  </div>
</div>
