<h1>Show Task time</h1>

<ul>

  <li>
    <strong>Time:</strong>
    <%= @task_time.time %>
  </li>
  
  <li>
    <strong>User:</strong>
    <%= @email %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.task_time_path(@conn, :edit, @task_time) %></span>
<span><%= link "Back", to: Routes.task_time_path(@conn, :index) %></span>
